@font-face { 
  font-family: "Univers-57-Condensed";
  src: url("/fonts/Univers-Condensed.eot");
  src: url("/fonts/Univers-Condensed.eot?#iefix") format("embedded-opentype"), 
       url("/fonts/Univers-Condensed.woff") format("woff"), 
       url("/fonts/Univers-Condensed.ttf") format("truetype"), 
       url("/fonts/Univers-Condensed.svg#Univers-Condensed") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face { 
  font-family: "Univers-67-Condensed-Bold";
  src: url("/fonts/Univers-CondensedBold.eot");
  src: url("/fonts/Univers-CondensedBold.eot?#iefix") format("embedded-opentype"), 
       url("/fonts/Univers-CondensedBold.woff") format("woff"), 
       url("/fonts/Univers-CondensedBold.ttf") format("truetype"), 
       url("/fonts/Univers-CondensedBold.svg#Univers-CondensedBold") format("svg");
  font-weight: normal;
  font-style: normal;
}