// Forms
.form-control {
  font-family: $font-bold-primary;
  box-shadow: 1px 1px 7px 0px lighten($dark, 50%);
  padding: 0.3em 1em;
  height: auto;
  border-radius: 7px;
  transition: all 0.5s ease;
  &:focus {
    border-color: transparent;
    box-shadow: 1px 1px 7px 2px lighten($dark, 40%);
    border-color: transparent;
  }
  &.error {
    border: 1px solid $red;
  }
}
.form-group {
  label {
    font-size: 0.9em;
    margin-bottom: 0;
    &.error {
      color: $red;
    }
  }
}

.btn-red {
  font-family: $font-bold-primary;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  box-shadow: 1px 1px 7px 2px lighten($dark, 50%);
  transition: all 0.5s ease;
  padding: 0.5em 1em;
  line-height: 1em;
  &:hover {
    color: $white !important;
    box-shadow: 1px 1px 7px 2px lighten($dark, 40%);
  }
}

.form-users {
  margin-bottom: 8em;
  @include bp-md(max) {
    margin-bottom: 2em;
  }
}

.btn-login-inside {
  @include bp-md(max) {
    display: none;
    visibility: hidden;
  }
}

.btn-login-outside {
  display: none;
  visibility: hidden;
  @include bp-md(max) {
    display: block;
    visibility: visible;
    margin-bottom: 2em;
  }
}

.btn-link {
  color: darken($red, 10%);
  &:hover {
    color: darken($red, 15%);
  }
}

// Alerts
.alert {
  border: 0;
  color: $white;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
.alert-danger {
  background-color: $red;
}
.alert-warning {
  background-color: $yellow;
}
.alert-success {
  background-color: $green;
}