#wrapper-header {
  background-color: $gray-light;
  padding: 1.8em 0 0.3em;
  .logo {
    font-size: 2.3em;
    padding: 0.2em 0;
    @include bp-lg(max) {
      font-size: 1.9em;
    }
    @include bp-xs(max) {
      font-size: 1.6em;
    }
    .main {
      color: $red;
      display: block;
      font-size: 1.2em;
      line-height: 0.8em;
    }
  }
  .main-title {
    color: $white;
    text-transform: uppercase;
    font-family: $font-bold-primary;  
    font-size: 2.5em;
    text-align: right;
    margin: 0;
    line-height: 1em;
    position: absolute;
    right: 15px;
    bottom: 0;
    @include bp-lg(max) {
      font-size: 2em;
    }
    @include bp-md(max) {
      display: none;
      visibility: hidden;
    }
  }
}