#wrapper-content {
  padding: 2em 0;
  min-height: calc(100vh - 213px);
  .description {
    font-size: 1.2em;
    font-family: $font-bold-primary;
  }
  .main-title {
    color: darken($red, 10%);
    font-family: $font-bold-primary;
    font-size: 1.8em;
  }
  .subtitle {
    color: darken($red, 10%);
    font-family: $font-bold-primary;
    font-size: 1.3em;
  }

  .conferences {
    .conference-item {
      margin-bottom: 1.5em;
      position: relative;
      .title {
        color: $red;
        font-size: 1.3em;
        @include bp-between(992px, 1200px) {
          height: 48px;
        }
      }
      .image {
        border: 8px solid $gray;
        border-radius: 15px;
      }
      .play-icon {
        position: absolute;
          background-color: $red;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          top: 8em;
          left: 0;
          right: 0;
          left: 0;
          margin: 0 auto;
        &::before {
          content: '';
          position: absolute;
          width: 0px;
          height: 0px;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 23px solid white;
          top: 14px;
          left: 22px;
        }
      }
    }
  }
  .modal {  
    .modal-content {
      background-color: $gray-light;
      border-radius: 0;
    }
  }

  // Single Conference
  .conference-single {
    margin-bottom: 4em;
    .title {
      font-family: $font-bold-primary;
      color: $red;
      font-size: 1.5em;
      text-transform: uppercase;
    }
    .video {
      position: relative;
      overflow: hidden;
      padding-top: 56.25%;
        border-radius: 15px;
        border: 8px solid $gray;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}

