* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

a, a:hover, a:focus {
  text-decoration: none;
  color: darken($red, 10%);
  &:hover {
    color: darken($red, 15%);
  }
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $font-size-base;
  color: $color-default;
  background: #9bb0b9;
  background: -moz-linear-gradient(-45deg, #9bb0b9 0%, #DDE8EE 100%);
  background: -webkit-linear-gradient(-45deg, #9bb0b9 0%,#DDE8EE 100%);
  background: linear-gradient(135deg, #9bb0b9 0%,#DDE8EE 100%);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

strong {
  font-family: $font-bold-primary;
  font-weight: normal;
}