// Colors
$gray : #465865;
$gray-light : #DCE4E7;
$red: #EC1C24;
$yellow: #f1c40f;
$gree: #2ecc71;

// Body

// Typography
$font-primary: "Univers-57-Condensed";
$font-bold-primary: "Univers-67-Condensed-Bold";
$font-size-base: 16px;
$color-default: $gray;
